
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
{% extends 'app/home.html' %}
{% load static %}
{% block body_block %}<br><br>
<center>
	

<a href="/employeeform"><button>ADD EMPLOYEE</button></a>   
<a href="/employeedata"><button>VIEW EMP DATA</button></a><br><br><br>
<a href="/addnews"><button>ADD LATEST NEWS</button></a>
 <a href="/addholidays"><button>ADD CALENDER</button></a>





</center>

{% endblock %}






	

</body>
</html>